<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title> Bienvenidxs a Mercado Liebre</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../css/style.css" rel="stylesheet">
    <link href="https://fontawesome.com/v5/search?m=free" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <enlace rel="preconectar" href="https://fonts.googleapis.com">
        <enlace rel="preconectar" href="https://fonts.gstatic.com" crossorigin>
            <enlace href="https: //fonts.googleapis.com/css2? family= Roboto & display=swap" rel="hoja de estilo">
</head>

<body>
    <header>
        <div class="sub-header">
            <section class="bloque1">
                <div class="Logo">
                    <img src="../images/logo-mercado-liebre.svg" alt="Logo" width="300">
                </div>
                <nav>
                    <div class="buscar">
                        <input type="search" name="busqueda" placeholder="Buscar productos, marcas y màs" required>
                        <button type="submit" class="lupa"><i class="fas fa-search"></i></button>
                    </div>
            </section>
            <div class="compras">
                <p><i class="fas fa-hand-holding-usd"></i>Comprà en cuotas y sin tarjeta de credito</p>
            </div>
        </div>
        <div class="menu">
            <ul class="menu1">
                <a hrer="#">
                    <li>Ofertas</li>
                </a>
                <a hrer="#">
                    <li>Tiendas Oficiales</li>
                </a>
                <a hrer="#">
                    <li>Vender</li>
                </a>
                <a hrer="#">
                    <li>Ayuda</li>
                </a>
            </ul>
            <ul class="menu2">
                <a href="register.html">
                    <li>Creà tu cuenta<i class="far fa-id-card"></i></li>
                </a>
                <a href="login.html">
                    <li>Ingresà<i class="fas fa-sign-in-alt"></i></li>
                </a>
                <a hrer="">
                    <li>Mis compras<i class="fas fa-shopping-basket"></i></li>
                </a>
            </ul>
        </div>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>

    </header>
    <div class="banner">
        <img src="../images/img-home-banner.jpg" alt="banner">
    </div>
    <main>
        <section id="titulo">Basado en tu última visita</section>
        <div class="caja-contenedora1">
            <div class="articulos">
                <img src="../images/img-cafetera-moulinex.jpg" alt="imagen del producto" width="200">
                <div class="producto">
                    <div class="envio">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="bloque">
                        <p class="precios">$6770</p>
                        <p class="descuentos">%40 OFF</p>
                    </div>
                    <p class="descripcion">Cafetera Moulinex</p>
                </div>
            </div>
            <div class="articulos">
                <img src="../images/img-macbook-pro-2019.jpg" alt="imagen del producto" width="200">
                <div class="producto">
                    <div class="envio">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="bloque">
                        <p class="precios">$230000</p>
                        <p class="descuentos">%20 OFF</p>
                    </div>
                    <p class="descripcion">MacBook Pro 2019</p>
                </div>
            </div>
            <div class="articulos">
                <img src="../images/img-samsung-galaxy-s10.jpg" alt="imagen del producto" width="200">
                <div class="producto">
                    <div class="envio">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="bloque">
                        <p class="precios">$70500</p>
                        <p class="descuentos">%10 OFF</p>
                    </div>
                    <p class="descripcion">Samsung Galaxy S10</p>
                </div>
            </div>
            <div class="articulos">
                <img src="../images/img-tv-samsung-smart.jpg" alt="imagen del producto" width="200">
                <div class="producto">
                    <div class="envio">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="bloque">
                        <p class="precios">$23200</p>
                        <p class="descuentos">%5 OFF</p>
                    </div>
                    <p class="descripcion">SmartTv Samsung 43"</p>
                </div>
            </div>
        </div>

        <section id="titulo">Ofertas</section>
        <div class="caja-contenedora2">
            <div class="articulos">
                <img src="../images/img-cafetera-moulinex.jpg" alt="imagen del producto" width="200">
                <div class="producto">
                    <div class="envio">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="bloque">
                        <p class="precios">$6770</p>
                        <p class="descuentos">%40 OFF</p>
                    </div>
                    <p class="descripcion">Cafetera Moulinex</p>
                </div>
            </div>
            <div class="articulos">
                <img src="../images/img-macbook-pro-2019.jpg" alt="imagen de producto" width="200">
                <div class="producto">
                    <div class="envio">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="bloque">
                        <p class="precios">$230000</p>
                        <p class="descuentos">%20 OFF</p>
                    </div>
                    <p class="descripcion">MacBook Pro 2019</p>
                </div>
            </div>
            <div class="articulos">
                <img src="../images/img-samsung-galaxy-s10.jpg" alt="imagen de producto" width="200">
                <div class="producto">
                    <div class="envio">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="bloque">
                        <p class="precios">$70500</p>
                        <p class="descuentos">%10 OFF</p>
                    </div>
                    <p class="descripcion">Samsung Galaxy S10</p>
                </div>
            </div>
            <div class="articulos">
                <img src="../images/img-tv-samsung-smart.jpg" alt="imagen del producto" width="200">
                <div class="producto">
                    <div class="envio">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="bloque">
                        <p class="precios">$23200</p>
                        <p class="descuentos">%5 OFF</p>
                    </div>
                    <p class="descripcion">SmartTv Samsung 43"</p>
                </div>
            </div>
        </div>
        </div>
    </main>
    <footer>
        <div>
            <div class="credit-card">
                <i class="fas fa-credit-card"></i>
            </div>
            <h4>Pagà con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </div>
        <div>
            <div class="gift">
                <i class="fas fa-gift"></i>
            </div>
            <h4>Envío gratis desde $ 2500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </div>
        <div>
            <div class="shield">
                <i class="fas fa-user-shield"></i>
            </div>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </div>
        <div class="final">
            <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
        </div>
    </footer>
</body>

</html>