*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

header{
    height: 100%;
    background-color: #EAC926;
    justify-content: center;
    padding: 8px;
    align-items: center;
    margin: auto;
    width: 100vw;
}
.bloque1{
    display: flex;
    width: 100%;
    justify-content: center;  
    align-items: center;
}
.logo{
    width: 50%;
}
.lupa{
    width: 20%;
}
.busqueda{
    width: 30%;
}
.buscar{
    display: flex;
    width: 50%;
    margin: 10px;
}
header ul{
    list-style: none;
}
#titulo{
    display: flex;
    font-size: 24px;
    text-align: justify;
    padding: 15px;
    align-content: start;
}

p.precios{
    font-size: 18px;
}

p.descuentos{
    font-size: 16px;
}

p.descripcion{
    font-size: 16px;
    display: flex;
}

.burger-menu{
    color:white;
    align-items: center;
    background-color: #1259c3;
    border-radius: 6px;
    font-size: 1em;
    margin-bottom: 10px;
    width: 40px;
    margin: 0 auto;
    height: 40px;
    justify-content: space-around;
    display: flex;
    text-align: center;
    background-position: center;
}

footer div{
    font-size: 12px;
    text-align: center;
}

div.credit-card{
    color:#1259c3;
    font-size: 2em;
    margin-bottom: 10px;
}
div.gift{
    color: #1259c3;
    font-size: 2em;
    margin-bottom: 10px;
}
div.shield{
    color:#1259c3;
    font-size: 2em;
    margin-bottom: 10px;
}
.compras{
    text-align: center;
}
.final{
    text-align: justify;
}

main{
    align-items: center;
    text-align: center;
    max-width: 90%;
}
.producto{
    border-top: solid 1px #ebebeb;   
}
div.envio{
    display: block;
    color: green;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    border-radius: 50%;
    background-color: #FFF;
    position: relative;
    left: 90%;
    top: -28px;
    right: 20px;
}
p.descuentos{
    color:#39b54a;
    display: block;
    width: 70%;
}

.articulos{
    width: 50%;
    margin: 30px;
    padding: 15px;
    display: block;
    font-size: 16px;
    justify-content: space-around;
    flex-wrap: wrap;
}
.bloque{
    display: flex;
    width: 100%;
}
.descripcion{
    display: block;
}
.precios{
    display: block;
    width: 30%;
}
.menu{
    display: none;
    margin: 0px;
    padding: 0px;
}
.banner{
    background-position: 50%;
    background-size: auto 100%;
    display: block;
    min-height: 150px;
    width: 100vw;
}
.caja-contenedora1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.caja-contenedora2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* para Desktop*/

@media (min-width: 769px){
    .main-header-footer{
        display: flex;
        justify-content: space-between;
    }
    .articulos{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        justify-content: space-between;
        align-items: center;
        width: 22%;
    }
    .menu{
        will-change: 100%;
        display: flex;
        justify-content: space-between;
    }
    .menu1{
        width: 40%;
        display: flex;
        font-size: 14px;
        justify-content:space-between;
        align-items:flex-start;
    }
    .menu2{
        width: 40%;
        display: flex;
        font-size: 14px;
        justify-content:space-between;
        align-items:flex-end;
    }
    p.descripcion{
        display: none;
    }
    .bloque1{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        align-items: center;
    }
    .caja-contenedora1{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }
    .caja-contenedora2{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }
    .lupa{
        width: 20%;
    }
    .buscar{
        display: flex;
        width: 50%;
        margin: 5px;
    }
    .sub-header, .logo, .buscar, .compras{
        font-size: 14px;
        width: 100%;
        margin: 5px;
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        align-items: center;
    }
}
/* para Tablets*/

@media (min-width: 481px){
    .main-header-footer{
        justify-content: space-between;
        display: flex;
    }
    .menu{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .menu1{
        width: 40%;
        display: flex;
        font-size: 14px;
        justify-content:space-between;
        align-items:flex-start;
    }
    .menu2{
        width: 40%;
        display: flex;
        font-size: 14px;
        justify-content:space-between;
        align-items:flex-end;
    }
    .articulos{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        justify-content: space-between;
        width: 40%;
    }
    p.descripcion{
        display: none;
      }
    .bloque1{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        align-items: center;
    }
    .caja-contenedora1{
        display: flex;
        flex-flow: wrap;
        justify-content: center;
        align-items: center;
    }
    .caja-contenedora2{
        display: flex;
        flex-flow: wrap;
        justify-content: center;
        align-items: center;
    }
    div.burger-menu{
        display: none;
    }
    .sub-header, .logo, .buscar, .compras{
        font-size: 14px;
        width: 100%;
        margin: 5px;
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        align-items: center;
    }
}
